.opendirectory_alert {
  padding: 10px;
  background: rgb(0 0 175 / 70%);
  color: #ffffff;
  position: fixed;
  bottom: 0.5rem;
  right: 0;
  font-size: 1.125rem;
  font-family: Poppins;
  border-radius: 0.125rem;
  animation: opendirectory-alert 600ms cubic-bezier(0, 0, 0, 0.94) 1;
  transition: 300ms;
  display: none;
  &.error {
    background: rgb(175 0 0 / 70%);
    color: #ffffff;
  }
  &.shown {
    display: block;
  }
}

@keyframes opendirectory-alert {
  0% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
